[submodule "luafilesystem"]
	path = luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git
[submodule "luacjson"]
	path = luacjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "luasocket"]
	path = luasocket
	url = https://github.com/lunarmodules/luasocket.git
